 .search-form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.gallery {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  max-width: calc(100vw - 100px);
}

.gallery__list{
    margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-item:not(:last-child){
    margin-right: 15px;
}

.material-icons {
  padding-right: 5px;
}

.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button.is-hiden {
  display: none;
}
